@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/* common.css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

header .head {
  padding: 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(167, 163, 154, 0.9);
  border-bottom: 0.5px solid #dfdfdf;
}

header .head h1 {
  font-size: 0;
}

header .head h1 a {
  background: url("../img/1_logo.png") 0 center/50% no-repeat;
  display: inline-block;
  width: 120px;
  height: 50px;
}

header .head p a {
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  padding: 7px 25px;
  border: 1px solid #ffeb60;
  background-color: #ffeb60;
  color: #333;
  font-size: 12px;
}

main .intro {
  background: url("../img/1_visual.png") 80% 160px/180% no-repeat;
  background-color: rgba(167, 163, 154, 0.9);
  width: 100%;
  height: 100vh;
}

main .intro .intro-txt {
  width: 55%;
}

main .intro .intro-txt img {
  width: 100%;
  margin-top: 50%;
  margin-left: 10%;
}

main .main2 {
  background-color: #f7f7f7;
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  overflow: hidden;
}

main .main2 .txt1 {
  margin: -40px;
}

main .main2 .txt1 h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -2px;
}

main .main2 .txt1 h2 small {
  font-weight: 400;
  font-size: 16px;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .main2 .txt2 {
  line-height: 120%;
}

main .main2 .txt2 img {
  margin-top: -60px;
  width: 40%;
}

main .main2 .txt2 p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2px;
}

main .main2 .txt2 p small {
  font-size: 14px;
  font-weight: 100;
  color: #555;
  letter-spacing: -1px;
  font-weight: 500;
}

main .main3 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
}

main .main3 h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -2px;
}

main .main3 h2 small {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #555;
  line-height: 160%;
  letter-spacing: -1px;
}

main .main3 .main3_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main3 .main3_img img {
  width: 33.3333%;
}

main .main4 {
  overflow: hidden;
}

main .main4 h2 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -1px;
}

main .main4 h2 small {
  font-size: 16px;
  display: block;
  color: #555;
  font-weight: 400;
  letter-spacing: -1px;
}

main .main4 .main4-btn {
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
}

main .main4 .main4-btn button {
  background: #fff;
  color: #242424;
  font-size: 14px;
  padding: 5px 14px;
  border-radius: 100px;
  border: 1px solid #242424;
}

main .main4 .main4-btn button:hover {
  background: #242424;
  color: #fff;
}

main .main4 .main4-book {
  overflow-x: scroll;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-left: 16px;
  letter-spacing: -.4px;
}

main .main4 .main4-book figure {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40%;
  margin-right: 5%;
}

main .main4 .main4-book figure .main4-title {
  font-weight: bold;
}

main .main4 .main4-book figure .main4-author {
  color: #6f6f6f;
  font-size: 14px;
}

main .main4 .main4-book figure .main4-reading {
  background: url("../img/plusicon.svg") no-repeat 0;
  background-size: 16px;
  padding-left: 20px;
  color: #6f6f6f;
  font-size: 14px;
}

main .main4 .main4-book figure p img {
  width: 100%;
}

main .main4 .main4-book figure:nth-of-type(2) {
  padding-top: 6%;
}

main .main5 {
  background-color: #f7f7f7;
  overflow: hidden;
}

main .main5 h2 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
}

main .main5 h2 small {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .main5 .main5-inner {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding: 40px 0;
}

main .main5 .main5-inner img {
  width: 40%;
  margin: 10px;
  position: absolute;
}

main .main5 .main5-inner img:nth-child(1) {
  right: 10%;
  top: 5%;
}

main .main5 .main5-inner img:nth-child(2) {
  left: 5%;
  top: 25%;
}

main .main5 .main5-inner img:nth-child(3) {
  right: 5%;
  top: 70%;
}

main .main5 .main5-inner img:nth-child(4) {
  left: -1%;
  top: 75%;
}

main .main5 .main5-item {
  position: relative;
  margin-top: -15%;
}

main .main5 .main5-item p {
  text-align: center;
}

main .main5 .main5-item p img {
  width: 80%;
}

main .main5 .main5-item p:nth-child(2) {
  position: absolute;
  top: 50%;
}

main .main6 {
  margin: 0 auto;
  text-align: center;
  background: #ffeb60;
}

main .main6 h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
  padding: 50px;
}

main .main6 ul li button {
  border: 1px solid #fff;
  position: relative;
  width: 80%;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 24px;
  background: #fff;
  margin-bottom: 16px;
  padding: 22px 65px 24px 24px;
  text-align: left;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

main .main6 ul li button::before {
  content: '';
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/ico_down.png);
  background-size: cover;
  width: 2em;
  height: 2em;
  display: inline-block;
}

footer .footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}

footer .footer-head h2 {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

footer .footer-head .sns {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30%;
}

footer .footer-head .sns a {
  width: 50%;
  display: inline-block;
  margin-left: 2%;
}

footer .footer-head .sns a img {
  width: 100%;
}

footer .info button {
  color: #a5a5a5;
  font-size: 10px;
  background: url(../img/icon1.png) 100% no-repeat;
  background-size: 12px;
  padding-right: 14px;
  border: 1px solid #fff;
  margin-left: 3%;
}

footer .info1 {
  padding: 0 5%;
  margin-top: 4%;
}

footer .info1 a {
  display: inline-block;
  font-size: 12px;
  color: #6f6f6f;
  background: url(../img/icon2.png) 100% no-repeat;
  background-size: 12px;
  padding-right: 14px;
}

footer .copy {
  color: #6f6f6f;
  font-size: 10px;
  margin-top: 24px;
  margin-bottom: 20px;
  padding: 0 5%;
}
/*# sourceMappingURL=index.css.map */