@import 'common';

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanskr/v21/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
};

header{
    position:fixed;
    left:0;top:0;
    width:100%;
    
    
    
    .head{
        padding:8px 24px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background:rgba(167,163,154,.9);
        border-bottom:0.5px solid #dfdfdf;
        
    
        
        
        
        h1{
            font-size:0;
            a{
                background: url('../img/1_logo.png') 0 center /50% no-repeat;
                display:inline-block;
                width:120px;height:50px;
            }
        }
        p{
            
            a{
                display:inline-block;
                border-radius: 100px;
                text-align: center;
                padding:7px 25px;
                border:1px solid #ffeb60;
                background-color:#ffeb60;
                color:#333;
                font-size:12px;
            }
        }
    }
}
main{
    .intro{
        background:url('../img/1_visual.png')80% 160px /180% no-repeat;
        background-color: rgba(167,163,154,.9);
        width:100%;height: 100vh;
        
        
    }
    .intro-txt{
        width:55%;
        img{
            width:100%;
            margin-top: 50%;
            margin-left:10%;
    }
        
    }

    .main2{
        margin:0 auto;
        text-align: center;
        white-space: pre-line;
        .txt1{
            
            
            h2{
                font-size:32px;
                font-weight: bold;
                font-family:'Noto Sans KR';
                // 폰트 패밀리 먹으건지 확인 
                letter-spacing: -2px;
                small{
                    
                    font-size:16px;
                    display: block;
                    color:#555;
                    
                    letter-spacing: -1px;
                    
                }
            }
        }
    }
    .txt2{
        
        img{}
        p{
            font-family: 'Noto Sans KR';
            font-size:20px;
            font-weight: 700;
            letter-spacing:-2px;
            
            
            small{
                font-size:14px;
                font-weight: normal;
                color:#555;
                letter-spacing: -1px;
                font-weight: 500;
            }
        }

    }
    .main3{      
        margin:0 auto;
        text-align: center;
        white-space: pre-line;
            h2{
                font-size:32px;
                font-weight: bold;
                font-family:'Noto Sans KR';
                // 폰트 패밀리 먹으건지 확인 
                letter-spacing: -2px;
                small{
                    
                    font-size:16px;
                    display: block;
                    color:#555;
                    
                    letter-spacing: -1px;
                }
            }
            .main3_img{
                display: flex;
                // flex-direction:column;
                flex-wrap: wrap;
                img{width: 33.3333%;}
            }
    }
    .main4{
        
        h2{
            margin:0 auto;
            text-align: center;
            white-space: pre-line;
            font-size:32px;
            font-weight: bold;
            font-family:'Noto Sans KR';
            // 폰트 패밀리 먹으건지 확인 
            letter-spacing: -2px;
            small{
                
                font-size:16px;
                display: block;
                color:#555;
                
                letter-spacing: -1px;
            }
        }
        .main4-btn{
            button{
                
                background:#fff;
                color:#242424;
                font-size:14px;
                padding:1px 10px;
                border-radius:100px;
                overflow: hidden;
                border:1px solid #242424;
            }
            button:hover{
                // 호버는 마우스 갖다대면 변하는거 아닌가요 
                // but 클릭시에만 변한다
                background: #242424;
                color:#fff;
            }
        }
        .main4-book{
            margin-top:5%;
            img{width:30%}
        }
    }
    .main5{
        h2{
            margin:0 auto;
            text-align: center;
            white-space: pre-line;
            font-size:32px;
            font-weight: bold;
            font-family:'Noto Sans KR';
            // 폰트 패밀리 먹으건지 확인 
            letter-spacing: -2px;
            small{
                font-size:16px;
                display: block;
                color:#555;
                letter-spacing: -1px;
            }
        }
        .main5-inner{
            width: 40%;
            margin-top:-20px;
            img{width:100%;
                margin:10px 
            }
            img:nth-child(1){
                margin-left:200px; 
            }
            img:nth-child(2){
                margin-left:45px;
                margin-top:-80px;
            }
            img:nth-child(3){
                margin-left:220px;
                margin-top:-40px;
            }
            img:nth-child(4){
                margin-left:20px;
                margin-top:-100px;
            }
        }
        .main5-item{
            position:relative;
            p{
                
                img{width:100%;}
            }
            p:nth-child(1){}
            p:nth-child(2){
                position:absolute;
                top:50%;

            }
        }
    }
    .main6{
        margin:0 auto;
        text-align: center;
        background:#ffeb60;
        h2{
            margin:0 auto;
            text-align: center;
            font-size:32px;
            font-weight: bold;
            font-family:'Noto Sans KR';
            // 폰트 패밀리 먹으건지 확인 
            letter-spacing: -2px;
            padding:50px;
        }
        ul{
            li{
                font-size:16px;
                font-weight:700;
                line-height:24px;
                letter-spacing: -6px;
                button{
                    width:80%;
                    border-radius: 20px;
                    background: #fff;
                    margin-bottom:16px;
                    padding:22px 24px 24px;
                    cursor:pointer;
                }
            }
        }
    }
}

footer{
    h2{
        font-size:16px;
        color:#242424;
        font-weight: 700;
    }
    .sns{
        width:100%;
        display:flex;
        box-sizing: border-box;
        a{
            width:20%;
            display:inline-block;
            img{
                width:100%;
            }
        }
    }
}

