/* common.css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v21/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.woff2) format("woff2");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

header .head {
  padding: 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(167, 163, 154, 0.9);
  border-bottom: 0.5px solid #dfdfdf;
}

header .head h1 {
  font-size: 0;
}

header .head h1 a {
  background: url("../img/1_logo.png") 0 center/50% no-repeat;
  display: inline-block;
  width: 120px;
  height: 50px;
}

header .head p a {
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  padding: 7px 25px;
  border: 1px solid #ffeb60;
  background-color: #ffeb60;
  color: #333;
  font-size: 12px;
}

main .intro {
  background: url("../img/1_visual.png") 80% 160px/180% no-repeat;
  background-color: rgba(167, 163, 154, 0.9);
  width: 100%;
  height: 100vh;
}

main .intro-txt {
  width: 55%;
}

main .intro-txt img {
  width: 100%;
  margin-top: 50%;
  margin-left: 10%;
}

main .main2 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
}

main .main2 .txt1 h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
}

main .main2 .txt1 h2 small {
  font-size: 16px;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .txt2 p {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2px;
}

main .txt2 p small {
  font-size: 14px;
  font-weight: normal;
  color: #555;
  letter-spacing: -1px;
  font-weight: 500;
}

main .main3 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
}

main .main3 h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
}

main .main3 h2 small {
  font-size: 16px;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .main3 .main3_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main3 .main3_img img {
  width: 33.3333%;
}

main .main4 h2 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
}

main .main4 h2 small {
  font-size: 16px;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .main4 .main4-btn button {
  background: #fff;
  color: #242424;
  font-size: 14px;
  padding: 1px 10px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #242424;
}

main .main4 .main4-btn button:hover {
  background: #242424;
  color: #fff;
}

main .main4 .main4-book {
  margin-top: 5%;
}

main .main4 .main4-book img {
  width: 30%;
}

main .main5 h2 {
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
}

main .main5 h2 small {
  font-size: 16px;
  display: block;
  color: #555;
  letter-spacing: -1px;
}

main .main5 .main5-inner {
  width: 40%;
  margin-top: -20px;
}

main .main5 .main5-inner img {
  width: 100%;
  margin: 10px;
}

main .main5 .main5-inner img:nth-child(1) {
  margin-left: 200px;
}

main .main5 .main5-inner img:nth-child(2) {
  margin-left: 45px;
  margin-top: -80px;
}

main .main5 .main5-inner img:nth-child(3) {
  margin-left: 220px;
  margin-top: -40px;
}

main .main5 .main5-inner img:nth-child(4) {
  margin-left: 20px;
  margin-top: -100px;
}

main .main5 .main5-item {
  position: relative;
}

main .main5 .main5-item p img {
  width: 100%;
}

main .main5 .main5-item p:nth-child(2) {
  position: absolute;
  top: 50%;
}

main .main6 {
  margin: 0 auto;
  text-align: center;
  background: #ffeb60;
}

main .main6 h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  letter-spacing: -2px;
  padding: 50px;
}

main .main6 ul li {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -6px;
}

main .main6 ul li button {
  width: 80%;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 16px;
  padding: 22px 24px 24px;
  cursor: pointer;
}

footer h2 {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

footer .sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .sns a {
  width: 20%;
  display: inline-block;
}

footer .sns a img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */